/* State Rules */
//----------------------------------------------------------------------------------------------------
.left        { float: left; }
.right       { float: right; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.hide        { display: none; }
.hide-override { display: none !important; }
.rtl {text-align: right;}
.ltl {text-align: left;}

.static {
  position: static;
}


//----------------------------------------------------------------------------------------------------
.hidden {
	display:none;
}

.header-search-form.active {
	left: 0;
}

.thumbnail {
	//width: 25%;
}

.small-hide {
  display: none;
}

.active {
  display: block;
}

.big-only {
  display: none;
}

img.full-width {
  width: 100% !important;
}

.no-border {
  border: none !important;
}

.wf-active {
	h1,
	p,
	ul {
		visibility: visible;
	}
}

