{
  "name" : "Amy Adams",
  "image" : "https://d262ilb51hltx0.cloudfront.net/fit/c/500/500/0*MxQ_IzXRdxA9HL6q.jpeg"
}

<div class="item item-user-action">
  <div class="content">
    <div class="avatar-connect">
      <img class="avatar" src="{{= it.image }}">
      <i class="icon-user-add"></i>
    </div>

    <div class="item-body">
      <div class="item-txt">
        <strong>{{= it.name }}</strong> would like to connect
      </div>
    </div>

    <div class="controls-connect">
      <a href="#" class="btn-no"><i class="icon-cross"></i></a>
      <a href="#" class="btn-ok"><i class="icon-ok"></i></a>
    </div>

  </div>
</div>
