{
  "name" : "Jane Smith",
  "desc" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate culpa consequatur consectetur quos reiciendis magni esse? Corrupti voluptatum delectus labore molestiae repudiandae magni ut. Deserunt nulla quo ipsum maiores recusandae.",
  "image" : "https://d262ilb51hltx0.cloudfront.net/fit/c/400/400/0*VqkkAF7iHI_OWwc6.jpeg",
  "time" : "4m ago"
}

<!-- <div class="title-checkout-nav">
    <div class="si-title {{= it.class }}">
      <h1>{{= it.title }} <a href="#"><span>Need Help</span>?</a></h1>
      <p class="lbl">{{= it.desc }}</p>
    </div>
</div> -->

<div class="item">
  <div class="content">
    <img class="avatar" src="{{= it.image }}">

    <div class="item-body">
      <div class="item-header">
        {{= it.name }}
        <small class="timestamp">{{= it.time }}</small>
      </div>
      <div class="item-txt">
        {{= it.desc }}
      </div>

      {{= it.include("socialLinks") }}

    </div>

  </div>
</div>
